<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'html_dependencies.html' %}

    {% block head %} 
    
    {% endblock %}
</head>
<body > <!--You can add    style="background-image: url('static/imgs/cloud.jpg')"-->
  <nav class="navbar navbar" id="nav">
    <div class="container">
        <div class="navbar-header" id="nav-head">
          <a href="/" style="font-size: 25px;" title="Home">
          <img class="navbar-brand logo" src= "{{ url_for('static', filename='imgs/X.jpg') }}" alt="Dummy_img" > TeXperience
        </a>&nbsp;
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" style="border: 2px solid white"> 
              &#9776;
              </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/trending" href="javascript:void(0)" class="navbar-item"><strong>Trending</strong></a></li>
            </ul>
            {% if session['email'] %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('users.profile') }}" href="javascript:void(0)" class="navbar-item"><b> Profile </b></a></li>
               </ul>
            {% block user_actions %}  {% endblock %}
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('users.login_user') }}" class="navbar-item"><span class="glyphicon glyphicon-log-in"></span><b> Login </b></a></li> 
              <li><a href="{{ url_for('users.register_user') }}" class="navbar-item"><span class="glyphicon glyphicon-user"></span><b> Signup </b></a></li>
            </ul>
            {% endif %} 
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/help"><b> Help </b></a></li>
            </ul>
        </div>

        </div>
    </div>
</nav>

  {% block content %}

  {% endblock %}

   </body>

<footer class="container-fluid text-center">
  {% block footer%}  {% endblock %}
</footer>
</html>
