{% extends 'base.html' %}

{% block head %}
    <title>PRICING SERVICES--Help</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>Pricing Services - Help</h1>
        <h4>Creating an Alert</h2>
        <hr>
        <ul>
            <li>To create an alert, visit any of our supported stores. Browse the store to view any item you're interested in. </li>
            <li>After visiting the item page, (i.e the page that describes the particular item) copy the URL of the page. </li>
            <li>Paste this URL in the URL section of the Create Alert Page </li>
            <li>Now, create your alert. </li>
            <br>
            <p>We'll do the rest!</p>
        </ul>
        <hr>
        <p><strong>NOTE!</strong></p>
        <p>An incorrect URL will fail to create an alert!</p>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}