{% extends 'base.html' %}

{% block head %}
    <title>TeXperience--Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h3>TeXperience - Help</h1>
        <h4>Creating a Post</h2>
        <hr>
        <ul>
            <li>To create a post, signup and login to your acount. </li>
            <li>On your profile page, click on (+New Post) button at the top right side of the page.</li>
            <li>This will take you to the New Post page. </li>
            <li>Now, type: </li>
            <li>The title of your post</li>
            <li>The category of your post.( eg. Fashion, Tech, Food, Sports etc.)</li>
            <li>The content of the post.</li>
            <li>Select a cover image for the post. (optional)</li>
            <br>
            <p>We'll do the rest!</p>
        </ul>
        <hr>
    </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
