{% extends 'base.html' %}

{% block head %}
<title>Trendingposts</title>
<!-- You can add other css links here-->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
 {% endblock %}

{% block content %}

<div class="container">
  <hr>
<div class="row">
    <div class="col-sm-2 sidenav">
        <!--<p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>-->
      </div>
      <div class="col-sm-8">
        {% set cnt = [posts_length-1] %}
        {% set idx = [indexes_length] %}
        {% if posts %}
          <div id="page1" style="display: block;">
          {% for post in posts[:10] %}
          <article class="article-bg">
              <h2 class="subtitle">{{ post.title }}</h2>
              {% if post.author %}
                  <small><strong>Written by {{ post.author }} on {{ post.date_posted }}</strong></small><br>
              {% else %}
                  <small>Written by Unknown on {{ post.date_posted }}</small><br>
              {% endif %}

              {% if cnt[0] == post_indexes[idx[0]-1] %}
              <div class="post_image" style="background-image: url('data:image/png;base64, {{ post_images[idx[0]-1][0] }}');">
                  <div class="top-left"> </div>
              </div>
              {% if idx.append(idx.pop() - 1) %}{% endif %}
              {% endif %}
      
              <span class="label label-primary">{{ post.category }}</span> &nbsp <span class="badge">{{ post.likes[0] }}</span><strong>views</strong><br>
              <br>
              <p style="white-space: pre-wrap; font-size: medium; font-family: sans-serif;">{{ post.content[:500] }}...</p>
              <a href="{{ url_for('blogs.readmore', post_id=post._id) }}"><span>Read more</span><br></a>
              <hr color="#787878" style="height: 3px;"> <hr color="#A9A9A9" style="height: 3px;"> 
          </article>
          {% if cnt.append(cnt.pop() - 1) %}{% endif %}
          {% endfor %}
       </div>
       
          <div id="page2" style="display: none;">
          {% for post in posts[10:] %}
          <article class="article-bg">
              <h2 class="subtitle">{{ post.title }}</h2>
              {% if post.author %}
                  <small><strong>Written by {{ post.author }} on {{ post.date_posted }}</strong></small><br>
              {% else %}
                  <small>Written by Unknown on {{ post.date_posted }}</small><br>
              {% endif %}

              {% if cnt[0] == post_indexes[idx[0]-1] %}
              <div class="post_image" style="background-image: url('data:image/png;base64, {{ post_images[idx[0]-1][0] }}');">
                  <div class="top-left"> </div>
              </div>
              {% if idx.append(idx.pop() - 1) %}{% endif %}
              {% endif %}
      
              <span class="label label-primary">{{ post.category }}</span> &nbsp <span class="badge">{{ post.likes[0] }}</span><strong>views</strong><br>
              <br>
              <p style="white-space: pre-wrap; font-size: medium; font-family: sans-serif;">{{ post.content[:500] }}...</p>
              <a href="{{ url_for('blogs.readmore', post_id=post._id) }}"><span>Read more</span><br></a>
              <hr color="#787878" style="height: 3px;"> <hr color="#A9A9A9" style="height: 3px;"> 
          </article>
          {% if cnt.append(cnt.pop() - 1) %}{% endif %}
          {% endfor %}
       </div>
       
        {% else %}
          <h3> There are no post Yet!</h3>
          <h3> SignUp to add a Post!!!</h3>
        {% endif %} 
      </div>
      <div class="col-sm-2 sidenav">
        <!--<div class="well">
            <p>ADS</p>
          </div>
          <p><a href="#">Link</a></p>
          <div class="well">
            <p>ADS</p>
          </div>-->
        </div>
      </div>
</div>
    
 {% endblock %}
 
{% block footer %}
<div class="container footer">
    <div id="myDIV">
        <button id="footer_btn" class="btn" onclick="prev()"> << Prev </button>
        <button id="footer_btn" class="btn current_btn" onclick="next()"> Next >> </button>
        <!--<button id="footer_btn" class="btn">2</button>
        <button id="footer_btn" class="btn">3</button>
        <button id="footer_btn" class="btn">4</button>
        <button id="footer_btn" class="btn">5</button>-->
    </div>
    <hr>
    <div class="ddd">
        <div id="contact" class="container-fluid">
            <h3 class="text-center">CONTACT US</h3>
            <div class="row">
              <div class="col-sm-5">
                <p>Reach us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Accra, Ghana</p>
                <p><span class="glyphicon glyphicon-phone"></span> +233 501459183</p>
                <p><a href = "mailto:infotexperience@gmail.com> <span class="glyphicon glyphicon-envelope"></span> Send Us A Mail</p>
              </div>

              <div class="col-sm-7 ">
                <form action="/contact" method="POST">
                <div class="row">
                    <div class="col-sm-6 ">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div> 
                    <div class="col-sm-6">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div> 
                    </div><br>
                    <textarea class="form-control" id="content" name="content" placeholder="Message" rows="3"></textarea><br>
                    <div class="row">
                        <button class="btn btn-primary pull-right" type="submit" value="POST">Send</button>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                    </form>
                </div>

              </div>
            </div>
          </div>
          <hr>  
          <div class="copyright">
           <small>&copy; 2020 TeXperience. All rights reserved.</small>
        </div>    
    </div>
</div>
 <script>
   var page_lst = ["page1", "page2"]
   var i = 0;
   function next(){
     var body_content = document.getElementById(page_lst[i]);
     body_content.style.display = "none";
     if (i==1){ i = 0;}
     else {i = ++i;}
     var el = document.getElementById(page_lst[i]);
     el.style.display = "block";
   }
   function prev(){
     var body_content = document.getElementById(page_lst[i]);
     body_content.style.display = "none";
     if (i==0){ i = 0;}
     else { --i;}
     var  el = document.getElementById(page_lst[i]);
     el.style.display = "block";
   }
 </script>
{% endblock%}
