{% extends 'base.html' %}

{% block head %}
<title class="container">Profile/posts/editpost</title>
 {% endblock %}

{% block content %}
<div class="container">
    <a style="float: right; margin-left: 5px; margin-top: 5px;" class="btn btn-success" href="/user_posts/{{post.author_id}}">Back to Posts</a><br>
    <hr>
    <h2>Edit Blog Post:</h2>
    <hr>
    <form action="{{ url_for('blogs.editpost', id = post._id) }}" method="POST" enctype="multipart/form-data">
        <label for="content">Title</label> 
        <input class="form-control" type="text" name='title' id='title' value="{{post.title}}" aria-label="Enter Title">
        <br>
        <label for="content">Author</label>
        <input class="form-control" type="text" name='author' id='author' value="{{post.author}}" aria-label="Enter Author">
        <br>
        <label for="content">Post</label>
        <textarea class="form-control" name="content" id="content" aria-label="Enter Content" rows="3">{{post.content}}</textarea>
        <br>
        <label>Select a Post Image to upload: </label>
        <input type="file" name="image_file"><br>  
        <input type='submit' class="btn btn-success" value="Save">
    </form>
    <hr>
</div>
{% endblock %}
