{% extends 'base.html' %}

{% block head %}
<title>Profile/posts</title>
<!-- You can add other css links here-->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 {% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10">
        <h1 style="display: inline;"><small>RECENT POSTS</small></h1>
        <a style="float: right; margin-left: 5px; margin-top: 5px;" class="btn btn-success" href="{{ url_for('blogs.new_post', id = user._id) }}">+New Post</a>
        <hr>
        {% if posts %}
        {% for post in posts|reverse %}
        <article class="article-bg" >
            <h2 class="subtitle">{{ post.title }}</h2>
            {% if post.author %}
                <small><span class="glyphicon glyphicon-time"></span><strong>Written by {{ post.author }} on {{ post.date_posted }}</strong></small>
                <br>
            {% else %}
                <small>Written by Unknown on {{ post.date_posted }}</small>
                <br>
            {% endif %}
            <br>
        <p style="white-space: pre-wrap; font-size: medium; font-family: sans-serif;">{{ post.content[:500] }}</p>
        <a id="viewall" ><span>View all</span><br></a>
        <p id="hidden" style="white-space: pre-wrap; font-size: medium; font-family: sans-serif;">{{ post.content[500:] }}</p>
        <a class="btn btn-primary" href="{{ url_for('blogs.editpost', id = post._id) }}">Edit</a>
        <a class="btn btn-danger "  href="{{ url_for('blogs.delete', id = post._id) }}">Delete</a>
        <hr>
        </article> 
        {% endfor %}
        {% else %}
        <p>You have no posts yet!</p>
        <p>Add new Posts to view your posts.</p>
        {% endif %}
    </div>
    <div class="col-sm-1">

    </div>  
</div>
</div>
 {% endblock %}
 
{% block footer %}
<div class="container footer">
    <div id="myDIV">
        <button id="footer_btn" class="btn current_btn">1</button>
        <button id="footer_btn" class="btn">2</button>
        <button id="footer_btn" class="btn">3</button>
        <button id="footer_btn" class="btn">4</button>
        <button id="footer_btn" class="btn">5</button>
    </div>
    <hr>
    <div class="ddd">
        <div class='loader'>
            <div>  
            <div><div><div><div><div><div><div><div><div><div><div>
                                                    
            </div></div></div></div></div></div></div></div></div></div></div>
        </div>
        </div>
        <h2 style="display: inline;">TeXperience</h2>
</div>
    <div class="copyright">
        &copy; 2020 My Blog. All rights reserved.
    </div>
</div>
<script>
 $(function(){
  $("#hidden").hide();
  $("#viewall").click(function(){
   $("#hidden").fadeToggle(1000);
  });
  $("#viewall").hide();
 });
</script>
{% endblock%}
